<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 style="color: rgb(23, 41, 141)">Detalles de Liquidación</h3>
    </div>
</div>

<div class="row animated fadein fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="spinner-border text-primary" role="status" aria-hidden="true"></i>
            <p class="mb-0"></p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card" style="width: 30rem" *ngIf="!cargando">
            <div class="card-body">
                <h5 class="card-title">
                    Datos Requeridos - Productor: {{ productor.nombre + " " + productor.apellido }}
                </h5>
                <form nz-form [formGroup]="liquiForm" nzLayout="horizontal" (ngSubmit)="submitForm()">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="12" nzRequired>Fecha de Pago</nz-form-label>
                        <nz-form-control [nzSpan]="14" nzErrorTip="Por favor complete el campo">
                            <nz-date-picker formControlName="fecha"></nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSpan]="12" nzRequired>Liquidación N-0
                        </nz-form-label>
                        <nz-form-control [nzSpan]="14" nzErrorTip="Por favor complete el campo (solo numeros)">
                            <input placeholder="{{ liquidacion.num_liquidacion }}" type="number" width="40px" nz-input formControlName="liquidacion" />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label [nzSpan]="12" nzRequired>Iva</nz-form-label>
                        <nz-form-control [nzSpan]="22" nzErrorTip="Por favor complete el campo">
                            <input placeholder="{{ liquidacion.iva }}" type="number" width="40px" nz-input formControlName="iva" />
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label [nzSpan]="12" nzRequired>Dirección </nz-form-label>
                        <nz-form-control [nzSpan]="14" nzErrorTip="Por favor complete el campo">
                            <input placeholder="{{ liquidacion.direccion }}" type="text" width="40px" nz-input formControlName="direccion" />
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label [nzSpan]="12" nzRequired>Destino </nz-form-label>
                        <nz-form-control [nzSpan]="14" nzErrorTip="Por favor complete el campo">
                            <input placeholder="{{ liquidacion.destino }}" type="text" width="40px" nz-input formControlName="destino" />
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item nz-row>
                        <nz-form-control class="text-center" [nzSpan]="14" [nzOffset]="6">
                            <button [disabled]="liquiForm.invalid" nzShape="round" nzSize="default" nz-button nzType="primary">
                Asignar Datos
              </button>
                        </nz-form-control>
                    </nz-form-item>
                </form>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card-container" *ngIf="!cargando">
            <nz-tabset>
                <nz-tab nzTitle="Cajas de 2.5kg" (nzClick)="getTabTotal(cajasPequenas)">
                    <nz-table #editRowTablePeq nzBordered [nzData]="cajasPequenas" [nzPageSize]="5" nzTableLayout="fixed">
                        <thead>
                            <tr>

                                <th nzWidth="10%">Calibre</th>
                                <th nzWidth="10%">Cajas</th>
                                <th nzWidth="10%">Kg</th>
                                <th nzWidth="10%">Precio</th>
                                <th nzWidth="10%">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of editRowTablePeq.data">
                                <ng-container *ngIf="!editCajasPeq[data.id_item_liquidacion].edit;else editTemplatePeq">
                                    <td>
                                        {{ data.calibre }}
                                    </td>
                                    <td>{{ data.num_cajas }}</td>
                                    <td>{{ data.num_cajas * 2.5 }}</td>
                                    <td>{{ data.precio }}</td>
                                    <td class="text-center">
                                        <a (click)="startEdit(data.id_item_liquidacion, data.tipo_caja)" class="edit">
                                            <i nz-icon nzType="edit" nzTheme="outline" style="font-size: 20px; color: #08c">
                                            </i>
                                        </a>
                                    </td>
                                </ng-container>

                                <ng-template #editTemplatePeq>
                                    <td>
                                        {{ data.calibre }}
                                    </td>
                                    <td>{{ data.num_cajas }}</td>
                                    <td>{{ data.num_cajas * 2.5 }}</td>
                                    <td>
                                        <input #precio type="number" nz-input [(ngModel)]="editCajasPeq[data.id_item_liquidacion].data.precio" />
                                    </td>
                                    <td class="text-center">
                                        <a *ngIf="precio.value.length !== 0" (nzOnConfirm)="saveEdit(data)" (nzOnCancel)="cancelEdit(data.id_item_liquidacion, data.tipo_caja)" class="save" nz-popconfirm nzPopconfirmTitle="¿Seguro desea guardar el cambio?">
                                            <i nz-icon nzType="save" nzTheme="outline" style="font-size: 20px; color: #08c">
                                            </i>
                                        </a>
                                    </td>
                                </ng-template>
                            </tr>
                        </tbody>
                    </nz-table>
                    <br>
                    <label for="">Total de Cajas: {{totalCajas}} </label> <br>
                    <label for="">Total de kg: {{totalKg}} </label>
                </nz-tab>
                <nz-tab nzTitle="Cajas de 4 kg" (nzClick)="getTabTotal(cajasfour)">
                    <nz-table #editRowtabfour nzBordered [nzData]="cajasfour" [nzPageSize]="5" nzTableLayout="fixed">
                        <thead>
                            <tr>
                                <th nzWidth="10%">Calibre</th>
                                <th nzWidth="10%">Cajas</th>
                                <th nzWidth="10%">Kg</th>
                                <th nzWidth="10%">Precio</th>
                                <th nzWidth="10%">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of editRowtabfour.data">
                                <ng-container *ngIf="!editCajasfour[data.id_item_liquidacion].edit;else editTempfour">
                                    <td>
                                        {{ data.calibre }}
                                    </td>
                                    <td>{{ data.num_cajas }}</td>
                                    <td>{{ data.num_cajas * 4 }}</td>
                                    <td>{{ data.precio }}</td>
                                    <td class="text-center">
                                        <a (click)="startEdit(data.id_item_liquidacion, data.tipo_caja)" class="edit">
                                            <i nz-icon nzType="edit" nzTheme="outline" style="font-size: 20px; color: #08c"></i>
                                        </a>
                                    </td>
                                </ng-container>

                                <ng-template #editTempfour>
                                    <td>
                                        {{ data.calibre }}
                                    </td>
                                    <td>{{ data.num_cajas }}</td>
                                    <td>{{ data.num_cajas * 4 }}</td>
                                    <td>
                                        <input #precio type="number" nz-input [(ngModel)]="editCajasfour[data.id_item_liquidacion].data.precio" />
                                    </td>
                                    <td class="text-center">
                                        <a *ngIf="precio.value.length !== 0" (nzOnConfirm)="saveEdit(data)" (nzOnCancel)="cancelEdit(data.id_item_liquidacion, data.tipo_caja)" class="save" nz-popconfirm nzPopconfirmTitle="¿Seguro desea guardar el cambio?">
                                            <i nz-icon nzType="save" nzTheme="outline" style="font-size: 20px; color: #08c">
                                            </i>
                                        </a>
                                    </td>
                                </ng-template>
                            </tr>
                        </tbody>
                    </nz-table>
                    <br>
                    <label for="">Total de Cajas: {{totalCajas}} </label><br>
                    <label for="">Total de kg: {{totalKg}} </label>

                </nz-tab>
                <nz-tab nzTitle="Cajas de 4.5kg" (nzClick)="getTabTotal(cajasGrandes)">
                    <nz-table #editRowTable nzBordered [nzData]="cajasGrandes" [nzPageSize]="5" nzTableLayout="fixed">
                        <thead>
                            <tr>
                                <th nzWidth="10%">Calibre</th>
                                <th nzWidth="10%">Cajas</th>
                                <th nzWidth="10%">Kg</th>
                                <th nzWidth="10%">Precio</th>
                                <th nzWidth="10%">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of editRowTable.data">
                                <ng-container *ngIf="
                    !editCache[data.id_item_liquidacion].edit;
                    else editTemplate
                  ">
                                    <td>
                                        {{ data.calibre }}
                                    </td>
                                    <td>{{ data.num_cajas }}</td>
                                    <td>{{ data.num_cajas * 4.5 }}</td>
                                    <td>{{ data.precio }}</td>
                                    <td class="text-center">
                                        <a (click)="
                        startEdit(data.id_item_liquidacion, data.tipo_caja)
                      " class="edit">
                                            <i nz-icon nzType="edit" nzTheme="outline" style="font-size: 20px; color: #08c">
                      </i>
                                        </a>
                                    </td>
                                </ng-container>

                                <ng-template #editTemplate>
                                    <td>
                                        {{ data.calibre }}
                                    </td>
                                    <td>{{ data.num_cajas }}</td>
                                    <td>{{ data.num_cajas * 4.5 }}</td>
                                    <td>
                                        <input #precio type="number" nz-input [(ngModel)]="
                        editCache[data.id_item_liquidacion].data.precio
                      " />
                                    </td>
                                    <td class="text-center">
                                        <a *ngIf="precio.value.length !== 0" (nzOnConfirm)="saveEdit(data)" (nzOnCancel)="
                        cancelEdit(data.id_item_liquidacion, data.tipo_caja)
                      " class="save" nz-popconfirm nzPopconfirmTitle="¿Seguro desea guardar el cambio?">
                                            <i nz-icon nzType="save" nzTheme="outline" style="font-size: 20px; color: #08c">
                      </i>
                                        </a>
                                    </td>
                                </ng-template>
                            </tr>
                        </tbody>
                    </nz-table>
                    <br>
                    <label for="">Total de Cajas: {{totalCajas}} </label><br>
                    <label for="">Total de kg: {{totalKg}} </label>
                </nz-tab>

                <nz-tab nzTitle="Cajas de 10.9kg" (nzClick)="getTabTotal(cajasDiez)">
                    <nz-table #editDiez nzBordered [nzData]="cajasDiez" [nzPageSize]="5" nzTableLayout="fixed">
                        <thead>
                            <tr>
                                <th nzWidth="10%">Calibre</th>
                                <th nzWidth="10%">Cajas</th>
                                <th nzWidth="10%">Kg</th>
                                <th nzWidth="10%">Precio</th>
                                <th nzWidth="10%">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of editDiez.data">
                                <ng-container *ngIf="!editCajasDiez[data.id_item_liquidacion].edit; else editTemplateDiez">
                                    <td>
                                        {{ data.calibre }}
                                    </td>
                                    <td>{{ data.num_cajas }}</td>
                                    <td>{{ data.num_cajas * 10.9 }}</td>
                                    <td>{{ data.precio }}</td>
                                    <td class="text-center">
                                        <a (click)="startEdit(data.id_item_liquidacion, data.tipo_caja)" class="edit">
                                            <i nz-icon nzType="edit" nzTheme="outline" style="font-size: 20px; color: #08c">
                                            </i>
                                        </a>
                                    </td>
                                </ng-container>

                                <ng-template #editTemplateDiez>
                                    <td>
                                        {{ data.calibre }}
                                    </td>
                                    <td>{{ data.num_cajas }}</td>
                                    <td>{{ data.num_cajas * 10.9 }}</td>
                                    <td>
                                        <input #precio type="number" nz-input [(ngModel)]="editCajasDiez[data.id_item_liquidacion].data.precio" />
                                    </td>
                                    <td class="text-center">
                                        <a *ngIf="precio.value.length !== 0" (nzOnConfirm)="saveEdit(data)" (nzOnCancel)="cancelEdit(data.id_item_liquidacion, data.tipo_caja)" class="save" nz-popconfirm nzPopconfirmTitle="¿Seguro desea guardar el cambio?">
                                            <i nz-icon nzType="save" nzTheme="outline" style="font-size: 20px; color: #08c">
                                            </i>
                                        </a>
                                    </td>
                                </ng-template>
                            </tr>
                        </tbody>
                    </nz-table>
                    <br>
                    <label for="">Total de Cajas: {{totalCajas}} </label><br>
                    <label for="">Total de kg: {{totalKg}} </label>
                </nz-tab>
                <nz-tab nzTitle="Cajas de 12.7kg" (nzClick)="getTabTotal(cajasDoce)">
                    <nz-table #editDoce nzBordered [nzData]="cajasDoce" [nzPageSize]="5" nzTableLayout="fixed">
                        <thead>
                            <tr>
                                <th nzWidth="10%">Calibre</th>
                                <th nzWidth="10%">Cajas</th>
                                <th nzWidth="10%">Kg</th>
                                <th nzWidth="10%">Precio</th>
                                <th nzWidth="10%">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of editDoce.data">
                                <ng-container *ngIf="!editCajasDoce[data.id_item_liquidacion].edit; else editTemplateDoce">
                                    <td>
                                        {{ data.calibre }}
                                    </td>
                                    <td>{{ data.num_cajas }}</td>
                                    <td>{{ data.num_cajas * 12.7 }}</td>
                                    <td>{{ data.precio }}</td>
                                    <td class="text-center">
                                        <a (click)="startEdit(data.id_item_liquidacion, data.tipo_caja)" class="edit">
                                            <i nz-icon nzType="edit" nzTheme="outline" style="font-size: 20px; color: #08c">
                                            </i>
                                        </a>
                                    </td>
                                </ng-container>

                                <ng-template #editTemplateDoce>
                                    <td>
                                        {{ data.calibre }}
                                    </td>
                                    <td>{{ data.num_cajas }}</td>
                                    <td>{{ data.num_cajas * 12.7 }}</td>
                                    <td>
                                        <input #precio type="number" nz-input [(ngModel)]="editCajasDoce[data.id_item_liquidacion].data.precio" />
                                    </td>
                                    <td class="text-center">
                                        <a *ngIf="precio.value.length !== 0" (nzOnConfirm)="saveEdit(data)" (nzOnCancel)="cancelEdit(data.id_item_liquidacion, data.tipo_caja)" class="save" nz-popconfirm nzPopconfirmTitle="¿Seguro desea guardar el cambio?">
                                            <i nz-icon nzType="save" nzTheme="outline" style="font-size: 20px; color: #08c">
                                            </i>
                                        </a>
                                    </td>
                                </ng-template>
                            </tr>
                        </tbody>
                    </nz-table>
                    <br>
                    <label for="">Total de Cajas: {{totalCajas}} </label><br>
                    <label for="">Total de kg: {{totalKg}} </label>
                </nz-tab>

            </nz-tabset>

        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-12 text-center" *ngIf="!cargando">
        <button (click)="finalizarLiq()" [disabled]="liquiForm.invalid" nzShape="round" nzSize="default" nz-button nzType="primary">
      Finalizar Liquidación
    </button>
    </div>
</div>