<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 style="color: darkorange">Perfil Transportista</h3>
    </div>
</div>

<div class="row animated fadein fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="spinner-border text-primary" role="status" aria-hidden="true"></i>
            <p class="mb-0"></p>
        </div>
    </div>
</div>

<div class="row" *ngIf="!cargando">

    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body text-center justify-content-md-center">
                <div class="m-t-30">
                    <img src="../../../../../assets/img/user.png" class="rounded-circle" width="150" />
                    <h4 class="card-title m-t-10">
                        {{ transporte.nombre + " " + transporte.apellido }}
                    </h4>
                    <div class="row text-center justify-content-md-center">
                        <br />
                        <div class="col-4">
                            <i nz-icon [nzType]="'setting'" [nzTheme]="'fill'"></i> Activo
                        </div>
                        <div class="col-4">
                            {{ transporte.activo == true ? "Sí" : "No" }}
                            <i nz-icon [nzType]="tipoIcon" [nzTheme]="'twotone'" [nzTwotoneColor]="color"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <hr />
            </div>
            <div class="card-body">
                <small class="p-t-30 db fs-5">
                   Cédula  <i class="fas fa-solid fa-id-card"></i>   </small>
                <h6 class="text-muted">{{ transporte.cedula }}</h6>
                <small class="p-t-30 db fs-5">
                    Teléfono <i class="fas fa-phone-alt"></i
                ></small>
                <h6 class="text-muted">{{ transporte.telefono }}</h6>
                <br />
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-xlg-9 col-md-7" *ngIf="!cargando">
        <div class="card-container">
            <nz-tabset>
                <nz-tab nzTitle="Recepciones">
                    <div class="row">
                        <div class="col-md-2">
                            <label style="color: darkorange">Filtro por Fechas</label>
                        </div>
                        <div class="col-md-10 justify-content-md-start">
                            <nz-range-picker [nzFormat]="dateFormat" [(ngModel)]="rangofechas" (ngModelChange)="onChange($event)"></nz-range-picker>
                        </div>
                    </div>
                    <br>
                    <nz-table #Recepciones nzBordered [nzData]="bitacoras" [nzPageSize]="5" nzTableLayout="fixed">
                        <thead>
                            <tr>
                                <th class="text-center">Fecha</th>
                                <th class="text-center">Chofer</th>
                                <th class="text-center">Gavetas</th>
                                <th class="text-center">Kg Totales</th>
                                <th class="text-center">Bitacora de Recepción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center" *ngFor="let data of Recepciones.data">
                                <td>{{ data.fecha | date: "shortDate" }}</td>
                                <td>{{ data.chofer }}</td>
                                <td>{{ data.num_gavetas }}</td>
                                <td>{{ data.kg_totales }}</td>
                                <td>
                                    <a>
                                        <i nz-icon nzType="audit" style="font-size: 20px; color: #08c" nzTheme="outline" (click)="verReporte(data)">
                                       </i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </nz-tab>
                <nz-tab nzTitle="Camiones">
                    <div class="row">
                        <div class="col-md-10 justify-content-md-end">
                            <button (click)="showModal()" nz-button nzShape="round" nzShape="round" nzType="primary" nzSize="large">  
                                Asignar Camión
                                <i nz-icon nzType="plus" nzTheme="outline"></i>
                            </button>
                        </div>
                    </div>
                    <br>
                    <nz-table #Camiones nzBordered [nzData]="camiones" [nzPageSize]="5" nzTableLayout="fixed">
                        <thead>
                            <tr>
                                <th class="text-center">Placa</th>
                                <th class="text-center">Marca</th>
                                <th class="text-center">Capacidad (T)</th>
                                <th class="text-center">Activo</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center" *ngFor="let data of Camiones.data">
                                <ng-container *ngIf="!editCache[data.id_unidad].edit; else editTemplate">
                                    <td>{{ data.placa }}</td>
                                    <td>{{ data.marca }}</td>
                                    <td>{{ data.capacidad }}</td>
                                    <td>{{ data.activo == true ? "Sí" : "No" }}</td>
                                    <td class="text-center">
                                        <a (click)="startEdit(data.id_unidad)" class="edit">
                                            <i nz-icon nzType="edit" nzTheme="outline" style="font-size: 20px; color: #08c"></i>
                                        </a>
                                    </td>
                                </ng-container>
                                <ng-template #editTemplate>
                                    <td>
                                        <input #placa type="text" nz-input [(ngModel)]="editCache[data.id_unidad].data.placa" />
                                    </td>
                                    <td>
                                        <input #marca type="text" nz-input [(ngModel)]="editCache[data.id_unidad].data.marca" />
                                    </td>
                                    <td>
                                        <input #capacidad type="number" nz-input [(ngModel)]="editCache[data.id_unidad].data.capacidad">
                                    </td>
                                    <td>
                                        <nz-select [(ngModel)]="editCache[data.id_unidad].data.activo">
                                            <nz-option [nzValue]=true nzType nzLabel="Sí"></nz-option>
                                            <nz-option [nzValue]=false type='boolean' nzLabel="No"></nz-option>
                                        </nz-select>
                                    </td>
                                    <td class="text-center">
                                        <a *ngIf="placa.value.length!==0 && capacidad.value.length!==0 &&  marca.value.length!==0" (nzOnConfirm)="saveEdit(data)" (nzOnCancel)="cancelEdit(data.id_unidad)" class="save" nz-popconfirm nzPopconfirmTitle="¿Seguro desea guardar el cambio?"><i nz-icon nzType="save" nzTheme="outline" style="font-size: 20px; color: #08c"></i>
                                        </a>

                                    </td>
                                </ng-template>
                            </tr>
                        </tbody>
                    </nz-table>
                </nz-tab>

            </nz-tabset>
        </div>
    </div>
</div>

<nz-modal [(nzVisible)]="isVisible" [nzFooter]=null (nzOnCancel)="handleCancel()">
    <ng-container *nzModalContent>
        <h1>Nuevo Camión</h1>
        <form nz-form [formGroup]="camionForm" (ngSubmit)="submitForm()">

            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired>Placa </nz-form-label>

                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Por favor ingrese una placa">
                    <input type="text" width="50px" nz-input formControlName="placa" />
                </nz-form-control>

            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired>Marca </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Por favor ingrese una marca">
                    <input type="text" width="50px" nz-input formControlName="marca" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSm]="10" [nzXs]="24" nzRequired>Capacidad </nz-form-label>

                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Por favor ingrese la capacidad">
                    <input type="text" width="50px" nz-input formControlName="capacidad" />
                </nz-form-control>

            </nz-form-item>

            <nz-form-item nz-row>
                <nz-form-control class="text-center" [nzSpan]="14" [nzOffset]="6">
                    <button [disabled]="camionForm.invalid" nz-button nzType="primary">Asignar</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-container>
</nz-modal>