<section id="wrapper" class="error-box">
    <div class="error-box">
        <div class="error-body text-center">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h1></h1>
            <h3 class="text-uppercase center" style="color: white;">Page Not Found !</h3>
            <p class=" m-t-30 m-b-30" style="color: white;">YOU SEEM TO BE TRYING TO FIND HIS WAY HOME</p>
            <a href="index.html" class="btn btn-info btn-rounded waves-effect waves-light m-b-40">Back to home</a> </div>
        <br>
        <footer class="footer text-center" style="color: white;">© {{year}}Ecuaexotics by BJ.</footer>
    </div>
</section>