<div class="">
    <h2>Registrar Control Calidad</h2>
    <br>
    <form [formGroup]="reporteCalidadForm" class="text-center">
        <div class="row">
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-6 d-flex justify-content-end">
                        <label>Nº de Gavetas Rechazo</label>
                    </div>
                    <div class="col-sm-6 d-flex justify-content-start box-item-bodega">
                        <input formControlName="rechazo" style="width: 120px ; height: 40px;" class="tex-center form-control" nz-input placeholder="Total Gavetas" type="tel" />
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-6 d-flex justify-content-end">
                        <label>Nº de Gavetas Vacias</label>
                    </div>
                    <div class="col-sm-6 d-flex justify-content-start box-item-bodega">
                        <input formControlName="vacias" style="width: 120px ; height: 40px;" class="tex-center form-control" nz-input placeholder="Total Gavetas" type="tel" />
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-6 d-flex justify-content-end">
                        <label class="tex-center">Peso Total</label>
                    </div>
                    <div class="col-sm-6 d-flex justify-content-start box-item-bodega">
                        <input formControlName="peso" style="width: 120px ; height: 40px;" class="tex-center form-control" nz-input placeholder="Kg" type="tel" />
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-6 d-flex justify-content-end">
                        <label class="tex-center">Nº Lote</label>
                    </div>
                    <div class="col-sm-6 d-flex justify-content-start box-item-bodega">
                        <input formControlName="lote" style="width: 120px ; height: 40px;" class="tex-center form-control" nz-input placeholder="Lote" type="tel" />
                    </div>
                </div>
            </div>
        </div>
    </form>
    <br>
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleFormControlTextarea1"><b> Causas de Rechazo</b></label>
                <br>
                <nz-checkbox-group [(ngModel)]="checkOptionsOne">detalle</nz-checkbox-group>
                <br />
                <br />
            </div>

            <div class="form-group">
                <label for="exampleFormControlTextarea1"><b>Observación</b> </label>
                <textarea class="form-control mt-2" rows="3" [formControl]="txtInputObservacion" placeholder="Opcional ..."></textarea>
            </div>
            <div class="form-group mt-2">
                <label for="exampleFormControlTextarea1"><b>Cargar Imágenes</b> </label>
                <div class="row p-1" *ngFor="let fileData of listFileImage; index as fi">
                    <div class="col-9" *ngIf="fileData.state">
                        <p>
                            <a>{{ fileData.name }}</a>
                        </p>
                    </div>
                    <div class="col-2" *ngIf="fileData.state">
                        <fa-icon class="field-icon" [icon]="faMinusCircle" (click)="removeFileFromList(fi)"></fa-icon>
                    </div>
                </div>
                <div class="mt-2">
                    <div class="upload-btn-wrapper" (change)="onChangefileSeleted($event)">
                        <button class="btn1">
              <span>Subir imagen</span> <fa-icon [icon]="faUpload"></fa-icon>
            </button>
                        <input type="file" accept="image/*" capture name="myfile" />
                    </div>
                </div>
            </div>
            <div class="text-center mt-3">
                <button (click)="saveControl()" nz-button nzType="primary" [disabled]="!reporteCalidadForm.valid">
          Guardar Control
        </button>
            </div>
        </div>
    </div>


</div>